@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: grey 1px solid; /**/
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 38px 87px;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #181818;
    font-family: "Noto Serif", serif;
}

header {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.site-title {
    font-size: 24px;
    margin-right: auto;
    color: #fff;
    text-decoration: none;
}

.topnav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.topnav a {
    padding-left: 65px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.language {
    word-spacing: 20px;
    font-size: 24px;
    color: #fff;
    opacity: 0.7;
}

.en {
    padding-right: 15px;
}

.kr {
    padding-left: 15px;
}

.lang-divider {
    height: 30px;
    width: 1px;
    background-color: #fff;
    opacity: 0.7;
}

.heading-1 {
    font-size: 48px;
    color: #fff;
    font-weight: normal;
}

.heading-1 a {
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
    text-decoration: none;
}

.heading-1 a:hover {
    color: #b1bdff;
}

.heading-2 {
    line-height: 90px;
    margin-top: 25px;
    font-size: 40px;
    color: #b1bdff;
    font-weight: normal;
    display: inline;
}

#typewriter {
    min-height: 60px;
}

.typewriter-container {
    color: #b1bdff;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.centre-home {
    margin-top: 225px;
    text-align: center;
}

.cta-btn {
    border: none;
    background: none;
    color: #fff;
}

.home-pg-btn {
    font-size: 24px;
    margin-top: 55px;
    padding: 0 95px;
    position: relative;
    font-family: "Noto Serif", serif;
}

.home-pg-btn:hover {
    cursor: pointer;
}

.home-pg-btn::after {
    content: "";
    position: absolute;
    display: block;
    height: 15px;
    border-bottom: #fff 1px solid;
    width: calc(100% - 116px);
    left: 60px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    /* bottom: -20vh; */ /* Below vh */
    height: 168px;
    width: 100%;
    background-color: #d9d9d9;
}

footer a {
    text-decoration: none;
}

.ft-social-txt {
    font-size: 18px;
    margin-left: 87px;
    margin-top: 20px;
    color: #181818;
}

.ft-social-txt::after {
    content: "";
    position: absolute;
    display: block;
    height: 15px;
    border-bottom: #181818 1px solid;
    width: 210px;
    left: 87px;
}

.copyright {
    right: 0;
    top: 84px;
    position: absolute;
    z-index: 2;
    font-size: 18px;
    margin-right: 87px;
    color: #181818;
}

.copyright::after {
    content: "";
    position: absolute;
    display: block;
    height: 15px;
    border-bottom: #181818 1px solid;
    width: 363px;
    right: 0px;
    z-index: 2;
}

/* Social Media Icons for Footer */
/* All icons are from iconify */

.inline-socials {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.ant-design--linkedin-outlined {
    margin-left: 87px;
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23181818' d='M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3m0 736c-447.8-.1-671.7-.2-671.7-.3c.1-447.8.2-671.7.3-671.7c447.8.1 671.7.2 671.7.3c-.1 447.8-.2 671.7-.3 671.7M230.6 411.9h118.7v381.8H230.6zm59.4-52.2c37.9 0 68.8-30.8 68.8-68.8a68.8 68.8 0 1 0-137.6 0c-.1 38 30.7 68.8 68.8 68.8m252.3 245.1c0-49.8 9.5-98 71.2-98c60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9c-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6z'/%3E%3C/svg%3E");
    transition: background-image 0.3s ease;
}

.ant-design--linkedin-outlined.hovered {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%234e8eca' d='M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32M349.3 793.7H230.6V411.9h118.7zm-59.3-434a68.8 68.8 0 1 1 68.8-68.8c-.1 38-30.9 68.8-68.8 68.8m503.7 434H675.1V608c0-44.3-.8-101.2-61.7-101.2c-61.7 0-71.2 48.2-71.2 98v188.9H423.7V411.9h113.8v52.2h1.6c15.8-30 54.5-61.7 112.3-61.7c120.2 0 142.3 79.1 142.3 181.9z'/%3E%3C/svg%3E");
}

.streamline--instagram {
    margin-left: 35px;
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='%23181818' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5'/%3E%3Cpath d='M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z'/%3E%3Cpath d='M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0'/%3E%3C/g%3E%3C/svg%3E");
    transition: background-image 0.3s ease;
}

.streamline--instagram.hovered {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23ca4ea9' fill-rule='evenodd' d='M3.39.787A2.604 2.604 0 0 0 .786 3.39v6.944a2.604 2.604 0 0 0 2.604 2.604h6.944a2.604 2.604 0 0 0 2.603-2.604V3.39A2.604 2.604 0 0 0 10.334.787zm7.693 2.607a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0m-4.22 1.388a2.08 2.08 0 1 0 0 4.16a2.08 2.08 0 0 0 0-4.16m-3.081 2.08a3.08 3.08 0 1 1 6.16 0a3.08 3.08 0 0 1-6.16 0' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.streamline--instagram-solid {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23ca4ea9' fill-rule='evenodd' d='M3.39.787A2.604 2.604 0 0 0 .786 3.39v6.944a2.604 2.604 0 0 0 2.604 2.604h6.944a2.604 2.604 0 0 0 2.603-2.604V3.39A2.604 2.604 0 0 0 10.334.787zm7.693 2.607a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0m-4.22 1.388a2.08 2.08 0 1 0 0 4.16a2.08 2.08 0 0 0 0-4.16m-3.081 2.08a3.08 3.08 0 1 1 6.16 0a3.08 3.08 0 0 1-6.16 0' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.mdi--github {
    margin-left: 35px;
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23181818' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
    transition: background-image 0.3s ease;
}

.mdi--github.hovered {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='%23924eca' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M24 4C12.954 4 4 12.954 4 24s8.954 20 20 20s20-8.954 20-20S35.046 4 24 4M0 24C0 10.745 10.745 0 24 0s24 10.745 24 24s-10.745 24-24 24S0 37.255 0 24'/%3E%3Cpath d='M19.183 45.472c-.193-.25-.193-2.475 0-6.674c-2.072.072-3.38-.072-3.927-.431c-.819-.539-1.64-2.2-2.367-3.371c-.728-1.17-2.343-1.356-2.995-1.618c-.652-.261-.816-1.328 1.797-.522c2.613.807 2.74 3.005 3.565 3.518c.825.514 2.796.29 3.689-.122c.893-.412.827-1.944.987-2.551c.201-.567-.509-.693-.524-.697c-.873 0-5.454-.997-6.713-5.433c-1.258-4.437.363-7.337 1.228-8.583c.576-.832.525-2.603-.153-5.314c2.464-.315 4.365.46 5.703 2.326c.002.01 1.756-1.043 4.527-1.043c2.772 0 3.755.858 4.514 1.043c.76.185 1.366-3.266 6.053-2.326c-.979 1.923-1.798 4.326-1.173 5.314c.626.987 3.08 4.127 1.573 8.583c-1.006 2.97-2.982 4.781-5.929 5.433c-.337.108-.506.282-.506.522c0 .36.456.399 1.114 2.086c.44 1.124.471 4.336.096 9.635c-.951.242-1.691.405-2.22.488c-.937.147-1.955.23-2.955.261c-1 .032-1.347.029-2.73-.1a19.799 19.799 0 0 1-2.654-.424'/%3E%3C/g%3E%3C/svg%3E");
}

footer p {
    padding-left: 10px;
    font-size: 20px;
    margin: 0;
    color: #181818;
    transition: color 0.3s ease;
}