@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #030303;
}

main {
    margin: 0px 115px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: -0.5px;
    color: #fff;
}

.coloured-txt {
    color: #909cff;
}

h2 {
    z-index: 4;
    font-size: 32px;
    font-weight: bold;
    color: #fff
}

.background-blur {
    top: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(120px);
    backdrop-filter: blur(120px);
    background-color: rgba(0, 0, 0, 0.2);
}

.bubble-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    clip-path: inset(0);
    overflow: hidden;
    top: 0;
}

/* I'm aware that the following could've been done better, but I'm in a rush ^^;; */
.ellipse-right {
    overflow: hidden;
    position: fixed;
    -webkit-filter: blur(120px);
    filter: blur(120px);
    box-shadow: inset 0 4px 4px 104px rgba(0, 0, 0, 0.25);
}

.ellipse-left {
    overflow: hidden;
    position: fixed;
    -webkit-filter: blur(120px);
    filter: blur(120px);
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}