@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #030303;
}

main {
    margin: 0px 115px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: -0.5px;
    color: #fff;
}

.coloured-txt {
    color: #909cff;
}

h2 {
    z-index: 4;
    font-size: 32px;
    font-weight: bold;
    color: #fff
}